
    .footbar {
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
    .footbarBtn {
       background-color: green;
       color: white;
       border: 0px;
       font-size: 30px;
    }
    .darkmodeBtn {
        background-color: #404040;
        border: 0px;
        font-size: 30px;
    }
    .displayArea {
        position: absolute;
        width: 100%;
        height: 110vh;
        top: 0px;
    }
    .selected {
        background-color: #00ff00;
        border: 0px;
       font-size: 30px;
       color: white;
    }
    #heading {
      		text-align: center;
      		color: green;
      		margin-top: 2px;
      		font-family: 'Montserrat', sans-serif;
      		font-size: 30px;
      }
    #image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 170px;
        width: 250px;
        border-radius: 8px;
    }
    #else  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff8a00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

      #else:hover {background-color: #ff7300}

      #else:active {
  background-color: #ff5c00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}  
#mealName {
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 200%;
}

.attribName {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 150%;
    color: #ffa000;
    padding:-3px;
}

.attribute1 {
    text-align: center;
    display: inline;
    padding: -2px;
}

.attribute2 {
    text-align: center;
    display: inline;
}

.attributes {
    text-align: center;
    padding: -5px;
}

.checked {
  color: orange;
}
body {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}
.ads{
    text-align: center;
    margin: 0 auto;
    width:300px;
    height:100px;
    background: gray;
}
#ad1 {
    position: relative;
    top: 20px;
}
#loaderGif {
    display: none;
}
#adLink {
    color: white;
}
.poweredBy {
          
          position: fixed;
          margin-left: -100px;
          bottom: 180px;
          left: 0px;
          -ms-transform: rotate(90deg); /* IE 9 */
          transform: rotate(90deg);
      }

